---
interface Props {
  objects?: {
    name: string;
    quantity: number;
    rarity: string;
    description: string;
    img?: string;
  }[];
}

const { objects = [] } = Astro.props;
---

<article
  class={`
    bg-[--gray] rounded-lg p-2
    grid grid-cols-4 gap-2
    w-full h-full
  `}
>
  {objects.map((item) => (
    <section class={`
      bg-[--dark] rounded-lg p-1
      text-center 
      flex items-center gap-2
      w-full
    `}>
      {item.img && <img class='size-20 border-r-2 border-[--gray]' src={item.img} alt={item.name} />}
      <div class='text-start'>
        <h2 class='font-bold'>{item.name} (x{item.quantity})</h2>
        <p class='text-[--grey] text-sm'>{item.description}</p>
        <p class='text-[--gray] text-xs italic'>({item.rarity})</p>
      </div>
    </section>
  ))}
</article>
