---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '@/components/character/Name.astro';
// NPC Components
import Amistad from '@/components/personaje/pnj/Amistad.astro';
import Atributos from '@/components/personaje/pnj/Atributos.astro';
// Importar los datos de los PNJs
import pnj from '@/data/personajes/pnjs/pnjs.json';
import Retrato from '@/components/personaje/pnj/Retrato.astro';
// Buscar a Var en la lista de PNJs
const varJSON = pnj.find((personaje: any) => personaje.nombre === 'Var');
---

<Layout title='】 Voidegon ▸ var'>
  <Name
    name={varJSON?.nombre}
    img={varJSON?.ruta + 'bg_var.png'}
    center='top'
    opacity={0.6}
  />
  <main
    class={`
				w-[80vw] mx-auto
        cursor-default
			`}
  >
    <article
      class={`
        grid grid-cols-3
      `}
    >
      <section class='col-span-1'>
        <Amistad
          amistad={varJSON?.amistad}
          amistad_max={varJSON?.amistad_max}
        />
      </section>
      <section class='col-span-2'>
        <Atributos raza={varJSON?.raza} rol={varJSON?.rol} />
      </section>
      <section class='col-span-1 row-span-2'>
        <Retrato img={varJSON?.ruta + 'var.png'} />
      </section>
      <section class='censored section col-span-2 text-center'>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel cumque
          reiciendis ad officiis pariatur et unde iste quo quia, ipsam aut sunt
          enim omnis hic earum, iure, quibusdam vitae natus!
        </p>
        <p class='mt-2'>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
          pariatur tenetur perferendis optio error minima aliquam fugit
          laudantium dignissimos! Repellat dolore vitae id enim assumenda
          consequatur aperiam sint minima vero?
        </p>
      </section>
    </article>
  </main>
</Layout>

<style>
  section {
    padding: 0.25rem;
  }
  .section {
    background-color: var(--gray);
    border-radius: 0.5rem;
    margin: 0.25rem;
    padding: 0.5rem;
  }
  .section > * {
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
</style>
