---
import Layout from '../../layouts/Layout.astro';
import Name from '../../components/character/Name.astro';
//
import Experience from '../../components/character/Experience.astro';
import Stats from '../../components/character/Stats.astro';
import Skills from '../../components/character/Skills.astro';
// Character Components
import Monedero from '@/components/personaje/Monedero.astro';
import Armas from '@/components/personaje/Armas.astro';
//
import HP from '../../components/little/HP.astro';
import CA from '../../components/little/CA.astro';
import INI from '../../components/little/INI.astro';
import VEL from '../../components/little/VEL.astro';
import HR from '../../components/little/HR.astro';
import Portrait from '@/components/character/Portrait.astro';

// Importar datos del personaje
import character from '@/data/personajes/astra.json';

// Extraer datos del personaje
const astra = character[0];
const { stats, monedero, competencias, mochila } = astra;

// Desestructurar estadísticas del personaje
const { fue, des, con, int, sab, car } = stats;

// Modificador de competencia
const { mod_comp } = competencias;

// Modificadores de estadísticas
const mod_fue = 0;
const mod_des = 2;
const mod_con = 0;
const mod_int = 3;
const mod_sab = 2;
const mod_car = 0;
---

<Layout title='】 Voidegon ▸ Astra Starlink'>
  <Name name={astra.nombre} />
  <main>
    <article
      class={`
        w-[80vw] mx-auto mt-2
        grid grid-cols-6
      `}
    >
      <section class='col-span-6'>
        <Experience xp={astra.xp} race={astra.raza} rol={astra.rol} />
      </section>
      <section class='col-span-2'>
        <Stats
          fue={7}
          des={20}
          con={10}
          int={10}
          sab={16}
          car={9}
          mod={[1, 0, 2, 0, 0, 0]}
          com={[1, 0, 1, 0, 0, 0]}
        />
      </section>
      <section class='col-span-2'>
        <Portrait name='Astra Starlink' />
      </section>
      <section class='col-span-1'>
        <CA mod={mod_des} />
      </section>
      <section class='col-span-1'>
        <INI des={mod_des} />
      </section>
      <section class='col-span-6'>
        <HP hp={10 + con - 0} hpmax={10 + con} />
      </section>
      <section class='col-span-6'>
        <HR />
      </section>
      <section class='col-span-3'>
        <Monedero monedero={monedero} />
      </section>
      <section class='col-span-3'>
        <Armas armas={astra.armas} />
      </section>
    </article>
  </main>
</Layout>

<style>
  section {
    padding: 0.25rem;
  }
</style>
