---
import Layout from '../../layouts/Layout.astro';
import Name from '../../components/character/Name.astro';

import Portrait from '@/components/character/Portrait.astro';
//
import Experience from '../../components/character/Experience.astro';
import Stats from '../../components/character/Stats.astro';
import Skills from '../../components/character/Skills.astro';
//
import HP from '../../components/little/HP.astro';
import CA from '../../components/little/CA.astro';
import INI from '../../components/little/INI.astro';
import DG from '../../components/little/DG.astro';
import VEL from '../../components/little/VEL.astro';
// Importar datos del personaje
import character from '@/data/characters/isidoro.json';
import Mochila from '@/components/character/Mochila.astro';

// Extraer datos del personaje
const isidoro = character[0];
const { stats, dinero, competencias, mochila } = isidoro;

// Desestructurar estadísticas del personaje
const { fue, des, con, int, sab, car } = stats;

// Modificador de competencia
const { mod_comp } = competencias;

// Modificadores de estadísticas
const mod_fue = 0;
const mod_des = 2;
const mod_con = 0;
const mod_int = 3;
const mod_sab = 2;
const mod_car = 0;
---

<Layout title='】 Voidegon ▸ Isidoro Matamoros'>
  <Name name='Isidoro Matamoros' img='/img/isidoro/bg_isidoro.png' />
  <article
    class={`
				w-[80vw] mx-auto mt-4 grid grid-cols-6
				gap-2
			`}
  >
    <section class='col-span-6'>
      <Experience race='Tiefling' rol='Monk' xp={355} />
    </section>
    <section class='col-span-2 row-span-5 section'>
      <Portrait name={isidoro.nombre} />
    </section>
    <section class='col-span-2 row-span-4'>
      <Stats
        fue={14}
        des={18}
        con={12}
        int={10}
        sab={10}
        car={8}
        mod={[0, 0, 0, 1, 0, 2]}
        com={[1, 1, 0, 0, 0, 0]}
        modcom={2}
      />
    </section>
    <section class='col-span-1'>
      <CA mod={mod_des + mod_sab} />
    </section>
    <section class='col-span-1'>
      <INI des={mod_des} />
    </section>
    <section class='col-span-2'>
      <DG cantidad={isidoro.nivel} dice={8} />
    </section>
    <section class='col-span-2'>
      <HP
        hp={8 + 4 + mod_con * isidoro.nivel - 0}
        hpmax={8 + 4 + mod_con * isidoro.nivel}
      />
    </section>
    <section class='col-span-2'>
      <VEL vel={30} add={[10, 0, 0]} />
    </section>
    <section class='col-span-4'>
      <Skills
        punt={[1, 3, -2, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
        com={[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0]}
        modcom={mod_comp}
      />
    </section>
    <section class='col-span-6'>
      <Mochila mochila={mochila} />
    </section>
  </article>
</Layout>

<style>
  /** MEDIA QUERYS */
  @media (max-width: 640px) {
    article {
      grid-template-columns: repeat(1, 1fr);
    }
    section {
      grid-column: span 1 / span 1;
    }
  }
</style>
