---
import Layout from '../../layouts/Layout.astro';
import Name from '../../components/character/Name.astro';
//
import Experience from '../../components/character/Experience.astro';
import Stats from '../../components/character/Stats.astro';
import Skills from '../../components/character/Skills.astro';
import Portrait from '@/components/character/Portrait.astro';
//
import HP from '../../components/little/HP.astro';
import CA from '../../components/little/CA.astro';
import INI from '../../components/little/INI.astro';
import DG from '../../components/little/DG.astro';
import VEL from '../../components/little/VEL.astro';
//
// JSON
import data from '@/data/personajes/kenkart.json';
let kenkart = data[0],
  fue = kenkart.stats.fue,
  des = kenkart.stats.des,
  con = kenkart.stats.con,
  int = kenkart.stats.int,
  sab = kenkart.stats.sab,
  car = kenkart.stats.car,
  bon_com = kenkart.comps.bon_com,
  money = kenkart.money;

let mod_com = 2,
  mod_fue = 0,
  mod_des = 7,
  mod_con = -1,
  mod_int = 0,
  mod_sab = -1,
  mod_car = 2;
---

<Layout title=`】 Voidegon ▸ ${kenkart.name}`>
  <Name name={kenkart.name} />
  <main>
    <article
      class={`
        w-[80vw] mx-auto mt-2
        grid grid-cols-6
      `}
    >
      <section class='col-span-6'>
        <Experience xp={kenkart.xp} race={kenkart.race} rol={kenkart.rol} />
      </section>
      <section class='col-span-2 row-span-3'>
        <Stats
          fue={fue}
          des={des}
          con={con}
          int={int}
          sab={sab}
          car={car}
          mod={[0, 0, 2, 0, 0, 0]}
          com={[0, 1, 0, 1, 0, 0]}
        />
      </section>
      <section class='col-span-2 row-span-3'>
        <Portrait name={kenkart.name} />
      </section>
      <section class='col-span-1'>
        <CA mod={mod_des} />
      </section>
      <section class='col-span-1'>
        <INI des={mod_des} />
      </section>
      <section class='col-span-2'>
        <VEL vel={25} />
      </section>
      <section class='col-span-2'>
        <DG dice={8} cantidad={kenkart.level} />
      </section>
      <section class='col-span-6'>
        <HP hp={8 + 4 + mod_con - 0} hpmax={8 + 4 + mod_con} />
      </section>
      <section class='col-span-6'>
        <Skills
          punt={[0, 0, 0, 2, 0, 0, 0, 0, 3, 1, 0, 0, 0, 0, 0, 4, 0, 0]}
          com={[2, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 2, 0, 1, 0, 0]}
          modcom={bon_com}
        />
      </section>
      <section class='col-span-6'></section>
    </article>
  </main>
</Layout>

<style>
  section {
    padding: 0.25rem;
  }
</style>
