---
// Main Components
import Layout from '../../layouts/Layout.astro';
import Name from '../../components/character/Name.astro';
import Stats from '../../components/character/Stats.astro';
import Experience from '../../components/character/Experience.astro';
import Skills from '../../components/character/Skills.astro';

import Portrait from '@/components/character/Portrait.astro';
// Character Components
import Armas from '@/components/personaje/Armas.astro';
import Monedero from '@/components/personaje/Monedero.astro';
import DG from '@/components/personaje/DG.astro';
// Little Components
import CA from '../../components/little/CA.astro';
import INI from '../../components/little/INI.astro';
import VEL from '../../components/little/VEL.astro';
import HR from '../../components/little/HR.astro';
import HP from '../../components/little/HP.astro';
import COM from '../../components/little/COM.astro';
import H2 from '../../components/little/H2.astro';
import H3 from '../../components/little/H3.astro';

// - Llamamiento a todos los datos y variables (JSON - BDD)
import character from '@/data/personajes/kriv.json';
const kriv = character[0],
  fue = kriv.stats.fue,
  des = kriv.stats.des,
  con = kriv.stats.con,
  int = kriv.stats.int,
  sab = kriv.stats.sab,
  car = kriv.stats.car,
  mod_comp = kriv.competencias.mod_comp;

// Modificadores
let mod_fue = 4,
  mod_des = -2,
  mod_con = 2,
  mod_int = -1,
  mod_sab = 1,
  mod_car = 3;

// Datos Adicionales Independientes que avanzan de forma no lineal (RNG)
let dg = 10 + 9; // DG: Dados de Golpe
let pg = dg + mod_comp * kriv.level; // PG: Puntos de Golpe
---

<Layout title=`】 Voidegon ▸ ${kriv.name}`>
  <Name name={kriv.name} />
  <main class='w-[80vw] mx-auto'>
    <!-- ESTADISTICAS -->

    <article class='grid grid-cols-6 p-2'>
      <section class='col-span-6'>
        <Experience race={kriv.race} rol={kriv.rol} xp={kriv.xp} start={3} />
      </section>
      <section class='col-span-2 row-span-3'>
        <Portrait name={kriv.name} />
      </section>
      <section class='col-span-4'>
        <Stats
          fue={fue}
          des={des}
          con={con}
          int={int}
          sab={sab}
          car={car}
          mod={[2, 0, 0, 0, 0, 1]}
          com={[0, 0, 0, 0, 1, 1]}
          modcom={mod_comp}
        />
      </section>
      <section class='col-span-3'>
        <VEL vel={30} />
      </section>
      <section class='col-span-1'>
        <INI des={mod_des} />
      </section>
      <section class='col-span-3'>
        <DG dg={kriv.dg} />
      </section>
      <section class='col-span-1'>
        <CA mod={mod_des} armor={17} shield />
      </section>
      <section class='col-span-6'>
        <Skills
          punt={[-1, 4, 0, 0, 0, 0, 3, 0, 0, 0, -1, 0, 1, 3, 0, -1, 0, 0]}
          com={[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0]}
          modcom={mod_comp}
        />
      </section>
      <section class='col-span-6'>
        <HP hp={pg - 0} hpmax={pg} />
      </section>
      <section class='col-span-6 -my-2'>
        <HR />
      </section>
      <section class='col-span-3'>
        <Monedero monedero={kriv.monedero} />
      </section>
      <section class='col-span-3'>
        <Armas armas={kriv.armas} />
      </section>
    </article>
    <HR />
    <!-- Rasgos (FEATURES) -->
    <article
      class={`
				bg-[--gray] w-[80vw] mx-auto rounded-lg 
				p-2 cursor-default
				features
			`}
    >
      <HR dark />
      <h2 class='text-[--title]'>Rasgos {kriv.race}</h2>
      <HR dark />
      <section
        class={`
					flex flex-col items-center gap-2
					text-center
				`}
      >
        <p>
          <strong>Linaje Dracónico:</strong> Cobre.
        </p>
        <p>
          <strong>Resistencia:</strong> Ácido.
        </p>
        <p>
          <strong>Ataque de Aliento:</strong> Línea de 5 a 30 pies y salvación de
          Destreza
          <span id='data'>({8 + mod_con + mod_comp})</span>. Un 2d6.
        </p>
      </section>
      <HR dark />
      <h2 class='text-[--subtitle]'>Rasgos de {kriv.rol}</h2>
      <HR dark />
      <section>
        <div class='col-span-2'>
          <h4>Sentidos divinos</h4>
          <p>
            Para tus sentidos, la presencia de un gran mal se percibe como un
            hedor nocivo, mientras que un bien poderoso es como música
            celestial. Como acción, puedes abrir tus sentidos para detectar
            tales fuerzas. Hasta el final de tu siguiente turno, sabes dónde se
            encuentra cualquier celestial, infernal o no muerto que esté a menos
            de 60 pies de ti y que no esté completamente cubierto. Sabes de qué
            tipo es (celestial, infernal o no muerto), pero no su identidad (el
            vampiro conde Strahd von Zarovich, por ejemplo). Dentro del mismo
            radio, también puedes detectar la presencia de cualquier lugar u
            objeto que haya sido bendecido o desacralizado, como con el conjuro
            Sacralizar.
            <br /><br />
            Puedes usar este rasgo un número de veces igual a 1 + tu modificador
            por Carisma
            <strong class='danger'>[{1 + mod_car}]</strong>. Cuando termines un
            descanso largo, recuperas todos los usos que hayas gastado.
          </p>
        </div>
        <div class='col-span-2'>
          <h4>Imponer las manos</h4>
          <p>
            Tu toque sagrado puede curar heridas. Tienes una reserva de poder
            curativo que se recupera cuando terminas un descanso largo. Con
            dicha reserva, puedes recuperar un número de puntos de golpe igual a
            tu nivel de paladín multiplicado por 5
            <strong class='danger'>[{kriv.level * 5}]</strong>.
            <br /><br />
            Como acción, puedes tocar a una criatura y extraer poder de la reserva
            para hacer que esta recupere puntos de golpe hasta la cantidad máxima
            que quede en tu reserva.
            <br /><br />
            De forma alternativa, puedes gastar 5 puntos de golpe de tu reserva de
            curación para curar al objetivo de una enfermedad o neutralizar el veneno
            que le afecta. Puedes curar varias enfermedades y neutralizar varios
            venenos con un único uso de Imposición de manos gastando puntos de golpe
            independientes para cada uno.
            <br /><br />
            Este rasgo no afecta ni a los no muertos ni a los constructos.
          </p>
        </div>
      </section>
      <HR dark />
    </article>
  </main>
</Layout>

<style>
  section {
    padding: 0.25rem;
  }

  /** Features */
  .features strong {
    color: var(--section);
    font-family: 'lobster two';
  }
  .features p {
    background-color: var(--dark);
    font-family: 'caveat brush';
    border-radius: 0.5rem;
    font-size: 0.9rem;
    padding: 1rem;
    width: 95%;
  }

  .features h4 {
    color: var(--section);
    text-align: center;
    font-family: 'Lobster';
    font-size: 1.1rem;
    padding: 0.5rem;
    padding-top: 0;
  }
  .features h2 {
    text-align: center;
    font-family: 'unbounded';
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
