---
// Main Components
import Layout from '@/layouts/Layout.astro';
import Name from '../../components/character/Name.astro';
import Stats from '../../components/character/Stats.astro';
import Skills from '../../components/character/Skills.astro';
import Experience from '@/components/character/Experience.astro';
//
import Portrait from '@/components/character/Portrait.astro';
// Character Components
import Armas from '@/components/personaje/Armas.astro';
import Mochila from '@/components/personaje/Mochila.astro';
import Monedero from '@/components/personaje/Monedero.astro';
import Conjuros from '@/components/personaje/Conjuros.astro';
import DG from '@/components/personaje/DG.astro';
// Little Components
import CA from '../../components/little/CA.astro';
import H2 from '../../components/little/H2.astro';
import H3 from '../../components/little/H3.astro';
import HP from '../../components/little/HP.astro';
import HR from '../../components/little/HR.astro';
import COM from '../../components/little/COM.astro';
import INI from '../../components/little/INI.astro';
import VEL from '../../components/little/VEL.astro';

// Importar datos del personaje
import character from '@/data/personajes/nyliss.json';

// Extraer datos del personaje
const nyliss = character[0];
const { stats, monedero, competencias, mochila } = nyliss;

// Desestructurar estadísticas del personaje
const { fue, des, con, int, sab, car } = stats;

// Modificador de competencia
const { mod_comp } = competencias;

// Modificadores de estadísticas
const mod_fue = 0;
const mod_des = 2;
const mod_con = 0;
const mod_int = 3;
const mod_sab = 2;
const mod_car = 0;

// Agregar, y añadir los datos y pontenciadores de su Clase y Raza
// Aasimar otorga: Portador de la Luz
// Si el truco existe, no agregarlo (esto evita generar muchos, ya que al recargar la pagina se vuelve a agregar)
if (!nyliss.magia.trucos.includes('Luz')) {
  nyliss.magia.trucos.push('Luz');
}

// Calcular el paso total
---

<Layout title=`】 Voidegon ▸ ${nyliss.nombre}`>
  <Name
    name={nyliss.nombre}
    img='https://www.shutterstock.com/image-vector/angel-wings-illustration-vector-desing-600nw-2289365543.jpg'
    center='center'
  />

  <main class='w-[80vw] mx-auto'>
    <!-- ESTADISTICAS -->

    <article class='grid grid-cols-6 p-2'>
      <section class='col-span-6'>
        <Experience
          race={nyliss.raza}
          rol={nyliss.rol}
          xp={nyliss.xp}
          start={1}
        />
      </section>

      <section class='col-span-4'>
        <Portrait name={nyliss.nombre} />
      </section>

      <section class='col-span-2'>
        <Stats
          fue={fue}
          des={des}
          con={con}
          int={int}
          sab={sab}
          car={car}
          mod={[1, 0, 0, 0, 0, 2]}
          com={[0, 0, 0, 1, 1, 0]}
          modcom={mod_comp}
        />
      </section>

      <section class='col-span-1'>
        <CA mod={mod_des} />
      </section>

      <section class='col-span-1'>
        <INI des={mod_des} />
      </section>

      <section class='col-span-4 row-span-3'>
        <Skills
          com={[0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0]}
          punt={[2, 1, 1, 0, 0, 0, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0]}
          modcom={mod_comp}
        />
      </section>

      <section class='col-span-2'>
        <VEL vel={30} fly={60} />
      </section>

      <section class='col-span-2'>
        <DG dg={nyliss.dg} />
      </section>

      <section class='col-span-6'>
        <HP hp={6 * 2 + mod_con * nyliss.nivel - 0} hpmax={6 * 2 + mod_con} />
      </section>

      <section class='col-span-6'>
        <HR />
      </section>

      <!-- INVENTARIO -->

      <section class='col-span-3'>
        <Monedero monedero={monedero} />
      </section>

      <section class='col-span-3'>
        <Armas armas={nyliss.armas} />
      </section>

      <section class='col-span-6'>
        <Mochila mochila={mochila} />
      </section>
    </article>

    <HR />

    <!-- MAGIA -->

    <article>
      <section>
        <p class='text-center pb-2'>Trucos</p>
        <Conjuros conjuros={nyliss.magia.trucos} />
      </section>
      <section>
        <p class='text-center pb-2'>Nivel 1</p>
        <Conjuros conjuros={nyliss.magia.conjuros} />
      </section>
    </article>

    <!-- RASGOS -->

    <article></article>
  </main>
</Layout>

<style>
  /** Este CSS para las Sectiones es Universal, debe usarse en todas las Fichas de Personajes */
  section {
    padding: 0.25rem;
  }
  /** */
  #section {
    cursor: pointer;
  }

  #weapons {
    background-color: var(--gray);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: default;
  }
  #weapons:hover {
    transform: scale(1.01);
    /* background-color: var(--black); */
  }
  #backpack {
    cursor: default;
  }
  #backpack li::before {
    content: '- ';
  }

  h4 {
    color: var(--section);
    text-align: center;
    font-family: 'Lobster';
    font-size: 1.1rem;
  }
  #race > div {
    background-color: var(--dark);
    border-radius: 0.5rem;
    cursor: default;
    padding: 0.5rem 2rem 1rem;
    width: 100%;
  }
  #race p {
    font-size: 0.9rem;
  }

  /** MEDIA QUERYS */
  @media (max-width: 1024px) {
    article {
      grid-template-columns: repeat(1, 1fr);
    }
    section {
      grid-column: span 1 / span 1;
    }
    #weapons {
      grid-template-columns: repeat(1, 1fr);
    }
    #traits #race {
      grid-template-columns: repeat(1, 1fr);
    }
    #traits #race #x {
      grid-column-start: auto;
      margin: 0;
    }
  }
</style>
