---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
import Stats from '../../components/Stats.astro';
import Money from '../../components/Money.astro';
import Experience from '../../components/Experience.astro';
import Skills from '../../components/Skills.astro';
// Little Components
import CA from '../../components/little/CA.astro';
import INI from '../../components/little/INI.astro';
import VEL from '../../components/little/VEL.astro';
import HR from '../../components/little/HR.astro';
import HP from '../../components/little/HP.astro';
import DG from '../../components/little/DG.astro';
import COM from '../../components/little/COM.astro';
import H2 from '../../components/little/H2.astro';
import H3 from '../../components/little/H3.astro';

// - Llamamiento a todos los datos y variables
let mod_com = 2,
  fue = 0,
  des = 2,
  con = 0,
  int = 3,
  sab = 2,
  car = 0;
---

<Layout title='】 Voidegon ▸ Nyliss Avacyn'>
  <Title
    title='Nyliss Avacyn'
    img='https://www.shutterstock.com/image-vector/angel-wings-illustration-vector-desing-600nw-2289365543.jpg'
    center='center'
  />
  <main>
    <article
      class={`
      w-[80vw] mx-auto m-4
      grid grid-cols-6 grid-flow-row-dense
      justify-center items-center
    `}
    >
      <section class='col-span-6 px-2'>
        <Experience race='Aasimar' rol='Wizard' exp={245} start={1} />
      </section>
      <section class='col-span-4 p-2 pb-0'>
        <a href='/lore/nyliss'>
          <img
            src='/img/nyliss/nyliss.png'
            alt='Nyliss Avacyn'
            class='rounded-2xl h-full object-cover'
            id='section'
          />
        </a>
      </section>
      <section class='col-span-2 pt-2 pr-2'>
        <Stats
          fue={10}
          des={14}
          con={10}
          int={16}
          sab={14}
          car={8}
          mod={[1, 0, 0, 0, 0, 2]}
          com={[0, 0, 0, 1, 1, 0]}
          modcom={mod_com}
        />
      </section>
      <section class='col-span-1 py-2 pl-2 pt-4'>
        <CA des={des} />
      </section>
      <section class='col-span-1 p-2 pr-0 pt-4'>
        <INI des={des} />
      </section>
      <section class='col-span-4 row-span-3 p-2 pt-4'>
        <Skills
          com={[0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0]}
          punt={[2, 1, 1, 0, 0, 0, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0]}
          modcom={mod_com}
        />
      </section>
      <section class='col-span-2 px-2 pr-0'>
        <VEL vel={30} fly={60} />
      </section>
      <section class='col-span-2 p-2 pr-0'>
        <DG cantidad={1} dice={6} />
      </section>
      <section class='col-span-6 p-2'>
        <HP hp={6} hpmax={6 + con} />
      </section>

      <section class='col-span-6'>
        <HR />
      </section>

      <section class='col-span-3 p-2 pt-0'>
        <COM
          mod_com={mod_com}
          com={['Dagas', 'Dardos', 'Hondas', 'Bastones', 'Ballestas Ligeras']}
        />
      </section>
      <section class='col-span-3 pb-2 pt-0'>
        <Money pc={0} pp={21} pe={6} po={14} ppt={0} />
      </section>
      <section class='col-span-2 p-2 flex flex-col gap-2 py-0'>
        <div id='weapons'>
          <div class='bg-[--dark] rounded-lg p-2'>
            <svg
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
              ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
              <path d='M20 4v5l-9 7l-4 4l-3 -3l4 -4l7 -9z'></path>
              <path d='M6.5 11.5l6 6'></path></svg
            >
          </div>
          <h3 class='mx-4'>Espada Corta</h3>
          <p class='text-xs italic text-[--grey]'>(Ligera, Sutil)</p>
          <p class='mx-4 font-[Lobster] text-nowrap'>
            <span class='mr-1'>1 <span class='font-[lobster]'>d</span> 6</span
            ><span class='font-[pacifico] text-[--date] mr-4'>+{fue}</span
            >Perforante
          </p>
        </div>
        <div id='weapons'>
          <div class='bg-[--dark] rounded-lg p-2'>
            <svg
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
              ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
                d='M20 4v5l-9 7l-4 4l-3 -3l4 -4l7 -9z'></path><path
                d='M6.5 11.5l6 6'></path></svg
            >
          </div>
          <h3 class='mx-4'>Lanza</h3>
          <p class='text-xs italic text-[--grey]'>
            (Arrojadiza, Distancia, Versátil)
          </p>
          <p class='mx-4 font-[Lobster] text-nowrap'>
            <span class='mr-1'>1 <span class='font-[lobster]'>d</span> 6</span>
            <span class='font-[pacifico] text-[--date] mr-4'>+{fue}</span
            >Perforante
          </p>
        </div>
      </section>
      <section class='col-span-4 h-full w-full pt-0'>
        <div id='backpack' class='bg-[--gray] rounded-lg p-2 h-full w-full'>
          <ul class='grid grid-cols-3 gap-2 font-[caveat] px-4'>
            <li>Botella de Tinta Negra</li>
            <li>Pluma</li>
            <li>Cuchillo Pequeño</li>
            <li>Carta de un Colega Muerto</li>
            <li>Ropas Comunes</li>
            <li>
              Grimorio
              <span class='text-[--grey]'>(+Hoja Suelta)</span>
            </li>
            <li>Libros <span class='text-[--grey]'>(x3)</span></li>
            <li>Plumas <span class='text-[--grey]'>(x5)</span></li>
            <li>
              Musgo Fluorescente
              <span class='text-[--grey]'>(x3)</span>
            </li>
            <li>
              Petalos de Rosa
              <span class='text-[--grey]'>(x6)</span>
            </li>
            <li class='text-[--object] font-["caveat_brush"]'>
              Silbato Mágico
            </li>
            <li>Espada Oxidad de Cobre</li>
            <li>
              Cupón para Var
              <span class='text-[--grey]'>(2 Opciones)</span>
            </li>
          </ul>
        </div>
      </section>
    </article>

    <div class='w-[80vw] mx-auto'>
      <HR />
    </div>

    <article
      class='bg-[--gray] w-[80vw] mx-auto rounded-lg pb-8 shadow-2xl'
      id='traits'
    >
      <section>
        <H2 txt='Rasgos de Raza' />
      </section>
      <section
        class='grid grid-cols-3 justify-center items-start text-justify gap-4 px-8'
        id='race'
      >
        <div>
          <h4>Visión en la Oscuridad</h4>
          <p>
            Puedes ver en la oscuridad a 60 pies como si hubiera luz tenue, y en
            la luz tenue como si estuviera bien iluminado. No puedes distinguir
            colores en la oscuridad.
          </p>
        </div>
        <div class='row-span-2'>
          <h4>Manos Sanadoras</h4>
          <p>
            Como una acción, puedes tocar a una criatura y hacer que recupere un
            número de puntos de golpe igual a tu nivel. No puedes volver a usar
            esta habilidad hasta finalizar un descanso largo.
          </p>
        </div>
        <div>
          <h4>Resistecia Celestial</h4>
          <p class='text-center'>
            Eres resistente al daño radiante y necrótico.
          </p>
        </div>
        <div class='col-start-3 -mt-11' id='x'>
          <h4>Portador de la Luz</h4>
          <p class='text-center'>
            Conoces el <span id='phrase'>truco</span>
            <span id='spell'>Luz</span>. Usas tu
            <span class='text-[--subtitle]'>Carisma</span> para lanzarlo.
          </p>
        </div>
      </section>

      <section>
        <H2 txt='Rasgos de Clase' />
      </section>
      <section
        class='grid grid-cols-2 justify-center items-start text-justify gap-4 px-8 pb-4'
        id='race'
      >
        <div class='row-span-2'>
          <h4>Recuperación Arcana</h4>
          <p>
            Has aprendido a recuperar parte de tu energía arcana estudiando tu
            libro de conjuros. Una vez por día, cuando hagas un descanso breve,
            puedes recuperar espacios de conjuro. Los espacios de conjuro pueden
            tener un nivel combinado igual o menor que la mitad de tu nivel de
            mago (redondeando hacia arriba) y, como máximo, nivel 5. Por
            ejemplo, si eres un mago de nivel 4, puedes recuperar hasta un valor
            de dos niveles de espacios de conjuro. Puedes recuperar un espacio
            de conjuro de nivel 2 o dos espacios de conjuro de nivel 1.
          </p>
        </div>
        <div>
          <h4>Lanzamiento Ritual</h4>
          <p>
            Puedes lanzar cualquier conjuro de mago como si fuera un ritual, si
            tiene la etiqueta «ritual» y si lo tienes en tu libro de conjuros.
            No necesitas tener el conjuro preparado.
          </p>
        </div>

        <div>
          <h4 class='text-center'>Lanzamiento de Conjuros</h4>
          <p>
            Como estudiante de magia arcana, tienes un libro de conjuros que
            contiene conjuros que muestran los primeros destellos del verdadero
            poder.
          </p>
        </div>
      </section>
      <section>
        <H3 txt='Libro de Conjuros' />
      </section>
      <section
        class='grid grid-cols-2 justify-center items-start text-justify gap-4 px-8 pb-4'
        id='race'
      >
        <div class='row-span-2'>
          <h4>Copiar un conjuro en el libro</h4>
          <p>
            Cuando encuentres un conjuro de mago de nivel 1 o superior, puedes
            añadirlo a tu libro de conjuros si es de un nivel de conjuro que
            puedes preparar y si puedes dedicar tiempo a descifrarlo y copiarlo.
            Esta tarea implica reproducir la esencia del conjuro y luego
            descifrar el sistema único de anotación utilizado por el mago que lo
            escribió. Debes practicar el conjuro hasta que entiendas los sonidos
            o los gestos que requiere, y luego transcribirlo en tu libro de
            conjuros usando tu propia anotación.
            <br /><br />
            Por cada nivel de conjuro, el proceso lleva 2 horas y cuesta 50 po. El
            precio representa los componentes materiales que gastas mientras experimentas
            con el conjuro para dominarlo, así como las tintas de calidad que necesitas
            para anotarlo. Una vez le hayas dedicado tiempo y dinero, puedes preparar
            el conjuro igual que el resto de tus conjuros.
          </p>
        </div>
        <div>
          <h4>La apariencia del libro</h4>
          <p>
            Tu libro de conjuros es una compilación única de conjuros, con sus
            propias florituras y notas al margen. Puede ser un volumen de cuero
            liso funcional que recibiste como regalo de tu maestro, un tomo de
            gran valor delicadamente encuadernado que encontraste en una antigua
            biblioteca o incluso una colección de notas dispersas que uniste
            después de perder tu anterior libro de conjuros en un accidente.
          </p>
        </div>
        <div class='row-span-2'>
          <h4>Remplazar el libro</h4>
          <p>
            Puedes copiar un conjuro de tu propio libro de conjuros en otro
            libro, por ejemplo, si quieres hacer una copia de seguridad. Esto se
            hace igual que copiar un conjuro nuevo en tu libro de conjuros, pero
            más rápido y fácil, dado que entiendes tu propia anotación y ya
            sabes cómo lanzar el conjuro. Solo necesitas gastar 1 hora y 10 po
            por cada nivel del conjuro copiado.
            <br /><br />
            Si pierdes tu libro de conjuros, puedes usar el mismo proceso para transcribir
            los conjuros que tienes preparados en un nuevo libro de conjuros. Completar
            el resto de tu libro de conjuros requiere que encuentres nuevos conjuros,
            como siempre. Por esta razón, muchos magos guardan copias de seguridad
            de sus libros de conjuros en un lugar seguro.
          </p>
        </div>
        <div>
          <h4>Tu libro de conjuros</h4>
          <p>
            Tu libro de conjuros es un repositorio de los conjuros de mago que
            conoces, excepto los trucos, los cuales tienes memorizados.
            <br /><br />
            Los conjuros que añadas a tu libro de conjuros conforme vayas subiendo
            de nivel reflejan la investigación arcana que vas llevando a cabo, así
            como los avances intelectuales que has hecho sobre la naturaleza del
            multiverso. Puedes encontrarte conjuros durante tus aventuras. Por ejemplo,
            puedes descubrir un conjuro escrito en un pergamino en el cofre de un
            mago maligno o en un tomo polvoriento de una antigua biblioteca.
          </p>
        </div>
      </section>
      <section>
        <H3 txt='Tradición Arcana (Nivel 2)' />
      </section>
      <div class='text-[--grey]'>
        <section
          class='grid grid-cols-2 justify-center items-start text-justify gap-4 px-8'
          id='race'
        >
          <p class='text-center text-pretty col-span-2 mx-auto w-[70vw]'>
            Al nivel 2, comienzas a seguir una tradición arcana, que moldea tu
            forma de practicar la magia. Tu elección te otorga rasgos en el
            nivel 2 y de nuevo en los niveles 6, 10 y 14.
          </p>
        </section>
      </div>
    </article>
  </main>

  <style>
    section {
      /* border: solid 1px var(--white); */
      width: 100%;
      height: 100%;
    }
    #section {
      /** Box Shadow Definitivo */
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);

      transition: transform 100ms ease;
      cursor: pointer;
    }
    #section:hover {
      transform: scale(1.01);
    }

    #weapons {
      background-color: var(--gray);
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: center;

      padding: 0.5rem 1rem;
      border-radius: 0.5rem;

      /** Box Shadow Definitivo */
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);

      transition: transform 100ms ease;
      cursor: default;
    }
    #weapons:hover {
      transform: scale(1.01);
      /* background-color: var(--black); */
    }
    #backpack {
      /** Box Shadow Definitivo */
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);

      transition: transform 100ms ease;
      cursor: default;
    }
    #backpack:hover {
      transform: scale(1.01);
    }
    #backpack li::before {
      content: '- ';
    }

    h4 {
      color: var(--section);
      text-align: center;
      font-family: 'Lobster';
      font-size: 1.1rem;
    }
    #race > div {
      background-color: var(--dark);
      border-radius: 0.5rem;
      padding: 0.5rem 2rem 1rem;
      width: 100%;

      /** Box Shadow Definitivo */
      box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);

      transition: transform 100ms ease;
      cursor: default;
    }
    #race > div:hover {
      transform: scale(1.01);
    }
    #race p {
      font-size: 0.9rem;
    }

    /** MEDIA QUERYS */
    @media (max-width: 640px) {
      article {
        grid-template-columns: repeat(1, 1fr);
      }
      section {
        grid-column: span 1 / span 1;
      }
      #weapons {
        grid-template-columns: repeat(1, 1fr);
      }
      #traits #race {
        grid-template-columns: repeat(1, 1fr);
      }
      #traits #race #x {
        grid-column-start: auto;
        margin: 0;
      }
    }
  </style>
</Layout>
