---
interface Props {
  fue: number;
  des: number;
  con: number;
  int: number;
  sab: number;
  car: number;
  mod: Array<number>;
  com: Array<number>;
}

const { fue, des, con, int, sab, car, mod, com } = Astro.props;

// Transformar números negativos en números positivos
function numeroAbsoluto(stat = 0) {
  if (stat <= 0) {
    stat = 0;
  }

  return stat;
}

// Modificar los potenciadores de las Stats Base
function modificadorStats(stat = 0) {
  let modificador = 0;

  if (stat > 10) {
    modificador = Math.floor((stat - 10) / 2); // Ajustado el cálculo aquí
  } else if (stat > 0 && stat <= 10) {
    modificador = -Math.ceil((10 - stat) / 2);
  } else if (stat <= 0) {
    modificador = -5;
  }

  if (modificador >= 0) {
    return `+${modificador}`;
  }

  return modificador;
}

// Aplicamos los modificadores de la Clase
function aplicarStats(x = 0) {
  if (mod[x - 1] == 0) {
    return "-";
  } else {
    return mod[x - 1];
  }
}
// Le sumamos las Stats
function sumarStats(stat = 0, x = 0) {
  let modificador = modificadorStats(stat);
  let suma = mod[x - 1];
  return `+${modificador}`;
}

// Aplicamos las Competencias
function competenciasStats(x = 0) {
  switch (com[x - 1]) {
    case 0:
      return "-";
    case 1:
      return "x";
  }
}
---

<div>
  <table class="m-4 p-4">
    <tr>
      <td>FUE</td>
      <td>{numeroAbsoluto(fue)}</td>
      <td>[{modificadorStats(fue)}]</td>
      <td>|</td>
      <td>{aplicarStats(1)}</td>
      <td>{sumarStats(fue, 1)}</td>
      <td>|</td>
      <td>{competenciasStats(1)}</td>
      <td></td>
    </tr>
    <tr>
      <td>DES</td>
      <td>{numeroAbsoluto(des)}</td>
      <td>[{modificadorStats(des)}]</td>
      <td>|</td>
      <td>{aplicarStats(2)}</td>
      <td>{modificadorStats(des + mod[1] * 2)}</td>
      <td>|</td>
      <td>{competenciasStats(2)}</td>
      <td>{com[1] === 1 ? modificadorStats(des * 2) : modificadorStats(des)}</td
      >
    </tr><tr>
      <td>CON</td>
      <td>{numeroAbsoluto(con)}</td>
      <td>[{modificadorStats(con)}]</td>
      <td>|</td>
      <td>{aplicarStats(3)}</td>
      <td>{modificadorStats(con + mod[2] * 2)}</td>
      <td>|</td>
      <td>{competenciasStats(3)}</td>
      <td>{com[2] === 1 ? modificadorStats(con * 2) : modificadorStats(con)}</td
      >
    </tr><tr>
      <td>INT</td>
      <td>{numeroAbsoluto(int)}</td>
      <td>[{modificadorStats(int)}]</td>
      <td>|</td>
      <td>{aplicarStats(4)}</td>
      <td>{modificadorStats(int + mod[3] * 2)}</td>
      <td>|</td>
      <td>{competenciasStats(4)}</td>
      <td>{com[3] === 1 ? modificadorStats(int * 2) : modificadorStats(int)}</td
      >
    </tr><tr>
      <td>SAB</td>
      <td>{numeroAbsoluto(sab)}</td>
      <td>[{modificadorStats(sab)}]</td>
      <td>|</td>
      <td>{aplicarStats(5)}</td>
      <td>{modificadorStats(sab + mod[4] * 2)}</td>
      <td>|</td>
      <td>{competenciasStats(5)}</td>
      <td>{com[4] === 1 ? modificadorStats(sab * 2) : modificadorStats(sab)}</td
      >
    </tr><tr>
      <td>CAR</td>
      <td>{numeroAbsoluto(car)}</td>
      <td>[{modificadorStats(car)}]</td>
      <td>|</td>
      <td>{aplicarStats(6)}</td>
      <td>{modificadorStats(car + mod[5] * 2)}</td>
      <td>|</td>
      <td>{competenciasStats(6)}</td>
      <td>{com[5] === 1 ? modificadorStats(car * 2) : modificadorStats(car)}</td
      >
    </tr>
  </table>
</div>

<style>
  td {
    padding: 0.35rem 0.535rem;
  }
  td:nth-of-type(1) {
    color: var(--subtitle);
    font-weight: bold;
  }
  td:nth-of-type(2) {
    color: var(--grey);
  }
  td:nth-of-type(6) {
    color: var(--date);
  }
  td:nth-of-type(9) {
    color: var(--warning);
  }
  td:nth-of-type(2),
  td:nth-of-type(3),
  td:nth-of-type(5),
  td:nth-of-type(6),
  td:nth-of-type(9) {
    font-family: "pacifico";
  }
  td:nth-of-type(8) {
    font-family: "caveat";
  }
</style>
