---
interface Props {
  fue: number;
  des: number;
  con: number;
  int: number;
  sab: number;
  car: number;
  mod: Array<number>;
  com: Array<number>;
  modcom: number;
}

const { fue, des, con, int, sab, car, mod, com, modcom } = Astro.props;

// Transformar números negativos en números positivos
function numeroAbsoluto(stat = 0) {
  if (stat <= 0) {
    stat = 0;
  }

  return stat;
}

// Modificar los potenciadores de las Stats Base
function modificadorStats(stat: number) {
  let modificador = 0;

  if (stat > 10) {
    modificador = Math.floor((stat - 10) / 2); // Ajustado el cálculo aquí
  } else if (stat > 0 && stat <= 10) {
    modificador = -Math.ceil((10 - stat) / 2);
  } else if (stat <= 0) {
    modificador = -5;
  }

  if (modificador >= 0) {
    return `+${modificador}`;
  }

  return `${modificador}`;
}

// Aplicamos los modificadores de la Clase
function aplicarStats(x = 0) {
  if (mod[x - 1] == 0) {
    return "-";
  } else {
    return mod[x - 1];
  }
}

// Le sumamos las Stats
function sumarStats(stat = 0, x = 0) {
  let modificador = modificadorStats(stat);
  // @ts-ignore
  modificador = parseInt(modificador) + mod[x - 1];

  // @ts-ignore
  if (modificador >= 0) {
    return `+${modificador}`;
  }

  return `${modificador}`;
}

// Aplicamos las Competencias
function competenciasStats(x = 0) {
  switch (com[x - 1]) {
    case 0:
      return "-";
    case 1:
      return "x";
  }
}

// Le sumamos las Competencias
function sumarComp(stat = 0, x = 0) {
  let modificador = sumarStats(stat, x);
  //@ts-ignore
  modificador = parseInt(modificador);

  if (com[x - 1] == 1) {
    modificador += modcom;
  }

  // @ts-ignore
  if (modificador >= 0) {
    return `+${modificador}`;
  }

  return `${modificador}`;
}
---

<div>
  <table class="m-4 p-4">
    <tr>
      <td>FUE</td>
      <td>{numeroAbsoluto(fue)}</td>
      <td>[{modificadorStats(fue)}]</td>
      <td>|</td>
      <td class={aplicarStats(1) === "-" ? "text-[--gray]" : ""}
        >{aplicarStats(1)}</td
      >
      <td>{sumarStats(fue, 1)}</td>
      <td>|</td>
      <td class={competenciasStats(1) === "-" ? "text-[--gray]" : ""}
        >{competenciasStats(1)}</td
      >
      <td>{sumarComp(fue, 1)}</td>
    </tr>
    <tr>
      <td>DES</td>
      <td>{numeroAbsoluto(des)}</td>
      <td>[{modificadorStats(des)}]</td>
      <td>|</td>
      <td class={aplicarStats(2) === "-" ? "text-[--gray]" : ""}
        >{aplicarStats(2)}</td
      >
      <td>{sumarStats(des, 2)}</td>
      <td>|</td>
      <td class={competenciasStats(2) === "-" ? "text-[--gray]" : ""}
        >{competenciasStats(2)}</td
      >
      <td>{sumarComp(des, 2)}</td>
    </tr><tr>
      <td>CON</td>
      <td>{numeroAbsoluto(con)}</td>
      <td>[{modificadorStats(con)}]</td>
      <td>|</td>
      <td class={aplicarStats(3) === "-" ? "text-[--gray]" : ""}
        >{aplicarStats(3)}</td
      >
      <td>{sumarStats(con, 3)}</td>
      <td>|</td>
      <td class={competenciasStats(3) === "-" ? "text-[--gray]" : ""}
        >{competenciasStats(3)}</td
      >
      <td>{sumarComp(con, 3)}</td>
    </tr><tr>
      <td>INT</td>
      <td>{numeroAbsoluto(int)}</td>
      <td>[{modificadorStats(int)}]</td>
      <td>|</td>
      <td class={aplicarStats(4) === "-" ? "text-[--gray]" : ""}
        >{aplicarStats(4)}</td
      >
      <td>{sumarStats(int, 4)}</td>
      <td>|</td>
      <td class={competenciasStats(4) === "-" ? "text-[--gray]" : ""}
        >{competenciasStats(4)}</td
      >
      <td>{sumarComp(int, 4)}</td>
    </tr><tr>
      <td>SAB</td>
      <td>{numeroAbsoluto(sab)}</td>
      <td>[{modificadorStats(sab)}]</td>
      <td>|</td>
      <td class={aplicarStats(5) === "-" ? "text-[--gray]" : ""}
        >{aplicarStats(5)}</td
      >
      <td>{sumarStats(sab, 5)}</td>
      <td>|</td>
      <td class={competenciasStats(5) === "-" ? "text-[--gray]" : ""}
        >{competenciasStats(5)}</td
      >
      <td>{sumarComp(sab, 5)}</td>
    </tr><tr>
      <td>CAR</td>
      <td>{numeroAbsoluto(car)}</td>
      <td>[{modificadorStats(car)}]</td>
      <td>|</td>
      <td class={aplicarStats(6) === "-" ? "text-[--gray]" : ""}
        >{aplicarStats(6)}</td
      >
      <td>{sumarStats(car, 6)}</td>
      <td>|</td>
      <td class={competenciasStats(6) === "-" ? "text-[--gray]" : ""}
        >{competenciasStats(6)}</td
      >
      <td>{sumarComp(car, 6)}</td>
    </tr>
  </table>
</div>

<style>
  td {
    padding: 0.35rem 0.535rem;
  }
  td:nth-of-type(1) {
    color: var(--subtitle);
    font-weight: bold;
  }
  td:nth-of-type(2) {
    color: var(--grey);
  }
  td:nth-of-type(6) {
    color: var(--date);
  }
  td:nth-of-type(9) {
    color: var(--warning);
  }
  td:nth-of-type(2),
  td:nth-of-type(3),
  td:nth-of-type(5),
  td:nth-of-type(6),
  td:nth-of-type(9) {
    font-family: "pacifico";
  }
  td:nth-of-type(8) {
    font-family: "caveat";
    font-weight: bold;
  }
</style>
