---
interface Props {
  name: string;
}
const { name } = Astro.props;

import data from '@/data/weapons.json';

// Buscar el objeto con el nombre coincidente
const matchWeapon = data.find((weapon: any) => weapon.name === name) ?? {
  name,
  src: '',
  bonus: '',
  damage: '',
  details: '',
};
---

<article class='bg-[--gray] p-2 rounded-lg'>
  <a>
    <section
      class={`
        flex items-center justify-between gap-2
        text-center h-full w-full p-2
        bg-[--dark] rounded-lg
      `}
    >
      <img
        src={matchWeapon.src}
        alt={matchWeapon.name}
        class='rounded-lg object-cover'
      />
      <h3 class='capitalize'>{matchWeapon.name}</h3>
      <p class='text-xs italic text-[--grey] capitalize'>
        ({matchWeapon.details})
      </p>
      <div class='flex'>
        <p class='text-nowrap'>
          {matchWeapon.damage}
        </p>
        <p class='text-[--date]'>
          +{matchWeapon.bonus}
        </p>
      </div>
    </section>
  </a>
</article>
