---
interface Monedero {
  pc?: number;
  pp?: number;
  pe?: number;
  po?: number;
  ppt?: number;
}

interface Props {
  monedero?: Monedero;
}

const { monedero = {} } = Astro.props;

// Establecer el valor predeterminado de pp si no está presente en monedero
const monederoDefault = {
  pc: monedero.pc ?? 0,
  pp: monedero.pp ?? 0,
  pe: monedero.pe ?? 0,
  po: monedero.po ?? 0,
  ppt: monedero.ppt ?? 0,
};
---

<article
  class={`
    flex justify-center items-center gap-2
    cursor-default text-center rounded-lg
    w-full bg-[--gray] p-2
  `}
>
  <!-- Cobre -->
  <div>
    <h3 class='bg-[--copper]'>PC</h3>
    <h6>{monederoDefault.pc}</h6>
  </div>
  <!-- Plata -->
  <div>
    <h3 class='bg-[--silver]'>PP</h3>
    <h6>{monederoDefault.pp}</h6>
  </div>
  <!-- Electro -->
  <div>
    <h3 class='bg-[--electro]'>PE</h3>
    <h6>{monederoDefault.pe}</h6>
  </div>
  <!-- Oro -->
  <div>
    <h3 class='bg-[--gold]'>PO</h3>
    <h6>{monederoDefault.po}</h6>
  </div>
  <!-- Platino -->
  <div>
    <h3 class='bg-[--platinum]'>PPT</h3>
    <h6>{monederoDefault.ppt}</h6>
  </div>
</article>

<style>
  h3 {
    font-family: 'unbounded';
    border-radius: 0.5rem;
    color: var(--dark);
    font-weight: bold;
    width: 100%;
    height: 100%;
  }

  h6 {
    font-family: 'pacifico';
    color: var(--white);
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
  }
</style>
