---
interface Monedero {
  pc: number;
  pp: number;
  pe: number;
  po: number;
  ppt: number;
}

interface Props {
  monedero?: Monedero;
}

// Extraemos la propiedad mochila de los props, por defecto es un array vacío
const monederoDefault: Monedero = { pc: 0, pp: 0, pe: 0, po: 0, ppt: 0 };
const { monedero = monederoDefault } = Astro.props;
---

<article
  class={`
    flex justify-center items-center gap-2
    cursor-default text-center rounded-lg
    w-full h-full bg-[--gray] p-2
  `}
>
  <!-- Cobre -->
  <div>
    <h3 class='bg-[--copper]'>PC</h3>
    <h6>{monedero.pc}</h6>
  </div>
  <!-- Plata -->
  <div>
    <h3 class='bg-[--silver]'>PP</h3>
    <h6>{monedero.pp}</h6>
  </div>
  <!-- Electro -->
  <div>
    <h3 class='bg-[--electro]'>PE</h3>
    <h6>{monedero.pe}</h6>
  </div>
  <!-- Oro -->
  <div>
    <h3 class='bg-[--gold]'>PO</h3>
    <h6>{monedero.po}</h6>
  </div>
  <!-- Platino -->
  <div>
    <h3 class='bg-[--platinum]'>PPT</h3>
    <h6>{monedero.ppt}</h6>
  </div>
</article>

<style>
  h3 {
    font-family: 'unbounded';
    border-radius: 0.5rem;
    color: var(--dark);
    font-weight: bold;
  }

  h6 {
    font-family: 'pacifico';
    color: var(--white);
    font-size: 1.5rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 5cm;
    height: 100%;
  }
</style>
