---
import H3 from '../little/H3.astro';
// Posibilidad de agregar "Bolas de Objetivos", Mejora no prioriotaria pero agrega funcionalidad.
// Funcionalidad de Desbloqueo (Prioritaria)
interface Props {
	xp: Array<number>; //Provisional
}
const { xp } = Astro.props;

function styleBlock(x: number) {
	if (xp[x] == 0) {
		return `block`;
	}
}
---

<article class='grid grid-cols-5 gap-2 w-full'>
	<section>
		<!-- Progress Bar -->
		<div class='w-full bg-[--gray] rounded-full h-2.5'>
			<div
				class='bg-[--title] h-2.5 rounded-full animate-pulse'
				style={`width: ${xp[0]}%`}
			>
			</div>
		</div>
		<!-- Casillas -->
		<div>
			<!-- SVG -->
			<svg
				width='22'
				height='22'
				viewBox='0 0 24 24'
				stroke-width='2'
				stroke='currentColor'
				fill='none'
				stroke-linecap='round'
				stroke-linejoin='round'
				><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
					d='M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z'
				></path><path d='M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0'
				></path><path d='M8 11v-5a4 4 0 0 1 8 0'></path></svg
			>
			<H3 txt='Nivel 1' />
		</div>
	</section>
	<section>
		<!-- Progress Bar -->
		<div class='w-full bg-[--gray] rounded-full h-2.5 mb-4'>
			<div
				class='bg-[--date] h-2.5 rounded-full animate-pulse'
				style={`width: ${xp[1]}%`}
			>
			</div>
		</div>
		<!-- Casillas -->
		<div>
			<!-- SVG -->
			<svg
				width='22'
				height='22'
				viewBox='0 0 24 24'
				stroke-width='2'
				stroke='currentColor'
				fill='none'
				stroke-linecap='round'
				stroke-linejoin='round'
				><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
					d='M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z'
				></path><path d='M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0'
				></path><path d='M8 11v-5a4 4 0 0 1 8 0'></path></svg
			>
			<H3 txt='Nivel 2' />
		</div>
	</section>
	<section>
		<!-- Progress Bar -->
		<div class='w-full bg-[--gray] rounded-full h-2.5 mb-4'>
			<div
				class='bg-[--title] h-2.5 rounded-full'
				style={`width: ${xp[2]}%`}
			>
			</div>
		</div>
		<!-- Casillas -->
		<div id='block'>
			<!-- SVG -->
			<svg
				width='22'
				height='22'
				viewBox='0 0 24 24'
				stroke-width='2'
				stroke='currentColor'
				fill='none'
				stroke-linecap='round'
				stroke-linejoin='round'
				><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
					d='M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z'
				></path><path d='M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0'
				></path><path d='M8 11v-4a4 4 0 1 1 8 0v4'></path></svg
			>
			<H3 txt='Nivel 3' block />
		</div>
	</section>
	<section>
		<!-- Progress Bar -->
		<div class='w-full bg-[--gray] rounded-full h-2.5 mb-4'>
			<div
				class='bg-[--title] h-2.5 rounded-full'
				style={`width: ${xp[3]}%`}
			>
			</div>
		</div>
		<!-- Casillas -->
		<div id='block'>
			<!-- SVG -->
			<svg
				width='22'
				height='22'
				viewBox='0 0 24 24'
				stroke-width='2'
				stroke='currentColor'
				fill='none'
				stroke-linecap='round'
				stroke-linejoin='round'
				><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
					d='M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z'
				></path><path d='M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0'
				></path><path d='M8 11v-4a4 4 0 1 1 8 0v4'></path></svg
			>
			<H3 txt='Nivel 4' block />
		</div>
	</section>
	<section>
		<!-- Progress Bar -->
		<div class='w-full bg-[--gray] rounded-full h-2.5'>
			<div
				class='bg-[--title] h-2.5 rounded-full'
				style={`width: ${xp[4]}%`}
			>
			</div>
		</div>
		<!-- Casillas -->
		<div id='block'>
			<!-- SVG -->
			<svg
				width='22'
				height='22'
				viewBox='0 0 24 24'
				stroke-width='2'
				stroke='currentColor'
				fill='none'
				stroke-linecap='round'
				stroke-linejoin='round'
				><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
					d='M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z'
				></path><path d='M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0'
				></path><path d='M8 11v-4a4 4 0 1 1 8 0v4'></path></svg
			>
			<H3 txt='Nivel 5' block />
		</div>
	</section>
</article>

<style>
	/** Para Controlar los Contenedores debajo de los Niveles */
	section > div {
		background-color: var(--gray);
		border-radius: 0.5rem;

		cursor: default;
	}

	section > div:first-of-type {
		margin-bottom: 0.5rem;
	}

	section > div:first-of-type,
	section > div:first-of-type > div {
		height: 0.5rem;
	}

	#block {
		color: var(--grey);
	}
	#block:hover {
		transform: scale(1);
	}

	/** Adaptar SVGs */
	section > div:not(:first-child) {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--subtitle);
	}
</style>
